* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.banner {
    padding: 50px 150px 0;
    display: flex;
    background-color: rgba(229, 84, 115, 10%);
    justify-content: space-between;
    align-items: center;
}

.banner-img img{
    width: 500px;
    padding-bottom: 0;
}
.banner-text{
    margin-right: 100px;
}
.banner-text h3{
    font-size: 60px;
    margin-bottom: 20px;
}
.banner-text p{
    text-align: justify;
    margin-bottom: 25px;
}

.banner-btn{
    border-radius: 5px;
    padding: 15px 30px;
    border: 0;
    background-color: #E55473;
    color: white;
}
.featured-flw{
    margin-top: 200px;
    
}

.featured-flw-text{
    text-align: center;
}
.featured-flw-text h3{
    margin-bottom: 50px;
    font-size: 40px;
}
.featured-flw-img{
    display: flex;
    justify-content: space-around;
    margin: 50px 150px 50px;
}
.img-1{
    padding: 50px 50px 0 50px; 
    width: 280px;
    height: 420px;
    border-radius: 200px 200px 0 0;
    background: rgba(167, 33, 98, 15%);
    
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
}

.img-1 img{
    width: 250px;
    padding-bottom: 0;
    margin-top: 70px;
    
}
.img-2{
    padding: 50px 50px 0 50px; 
    width: 280px;
    height: 420px;
    border-radius: 200px 200px 0 0;
    background: rgba(5, 151, 160, 15%);
    
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
}

.img-2 img{
    width: 350px;
    padding-bottom: 0;
    margin-top: 70px;
    
}

.img-3{
    padding: 50px 50px 0 50px; 
    width: 280px;
    height: 420px;
    border-radius: 200px 200px 0 0;
    background: rgba(71, 125, 17, 15%);
    
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
}

.img-3 img{
    width: 250px;
    padding-bottom: 0;
    margin-top: 40px;
    
}
.text-deco{
    text-align: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.hd-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgba(229, 84, 115, 5%);
    margin-top: 200px;
    padding: 50px;
}

.hd-text{
    margin-left: 150px;
}
.hd-img{
    margin-right: 150px;
}
.text-red{
    color: #E55473;
}
.hd-text h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.hd-text p{
    margin-bottom: 30px;
}



/* .img-1{
    width: 464px;
    height: 550px;
    background-color: rgba(167, 33, 98, 15%);
    border-radius: 500px 500px 0 0;
    background-position: bottom;
    position: absolute;
} */
/* .img-1 img{
    background-position: bottom;
    position: relative;
    left:60px;
    top: 120px;
} */
